@model IEnumerable<ESTeCar.Models.Marca>

@{
    ViewData["Title"] = "Marcas Existentes";
}

<h2>Marcas existentes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Designacao)
                </td>
            </tr>
        }
    </tbody>
</table>
